<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Las Vegas Strip</title>
    
</head>
<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full"
                    viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Las Vegas Strip</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a href="#home"class="mr-5 hover:text-white">Home</a>
                <a href="#features" class="mr-5 hover:text-white">Features</a>
                <a href="#predictor"class="mr-5 hover:text-white">Approach</a>
                <a href="https://github.com/niveditapalanisamy/Las-Vegas-Strip" class="mr-5 hover:text-white">Github</a>
            </nav>
            
        </div>
    </header>
    <section class="text-gray-400 bg-gray-900 body-font" id="home">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
            <div class="lg:w-2/3 mx-auto">
                <div class="flex flex-wrap w-full bg-gray-10000 py-32 px-10 relative mb-4">
                    <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0"
                        src="/static/main.jpg">
                    <div class="text-center relative z-10 w-full">
                        <h2 class="text-2xl text-white font-medium title-font mb-2">Las Vegas Trip Advisor Reviews</h2>
                        <p class="leading-relaxed">The Las Vegas Strip is a stretch of South Las Vegas Boulevard in Clark County, Nevada, that is known for its
                        concentration of resort hotels and casinos.</p>
                        
                    </div>
                </div>    
            </div>
        </div>
    </section>
    
    <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-500 mb-8"
                    viewBox="0 0 975.036 975.036">
                    <path
                        d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                    </path>
                </svg>
                <p class="leading-relaxed text-lg">The Las Vegas Strip is well known for its lounges, showrooms, theaters and nightclubs;[89] most of the attractions and
                shows on the Strip are located on the hotel casino properties. Some of the more popular free attractions visible from
                the Strip include the water fountains at Bellagio, the volcano at The Mirage, and the Fall of Atlantis and Festival
                Fountain at Caesars Palace.The Strip is home to the Adventuredome indoor amusement park at Circus Circus. The Adventuredome is glass-enclosed
                with a carousel, mini-golf, two roller coasters, bowling, spinning rides, arcade, virtual reality rides, carnival
                midway, and clown shows.</p>
                <span class="inline-block h-1 w-10 rounded bg-red-500 mt-8 mb-6"></span>
            </div>
        </div>
    </section>
    <section class="text-gray-400 body-font bg-gray-900" id ="features">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Features in Las Vegas Strip</h1>
                <p class="lg:w-1/2 w-full leading-relaxed text-opacity-80">Below the features are given as the users can select the features and type in the predictor
                </p>
            </div>
        </div>
    </section>

    <section class="text-gray-400 bg-gray-900 body-font relative">

        <div class="col d-flex justify-content-center">
            <div class="flex-row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Period of Stay</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-primary">0 - Winter</li>
                                    <li class="list-group-item list-group-item-secondary">1 - Spring</li>
                                    <li class="list-group-item list-group-item-success">2 - Summer</li>
                                    <li class="list-group-item list-group-item-danger">3 - Autumn</li>
                                    
                                </ul>

                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gym</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                   <li class="list-group-item list-group-item-light">1 - Yes</li>
                                    <li class="list-group-item list-group-item-dark">0 - No</li>
                                </ul>

                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Casino</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light">1- Yes</li>
                                    <li class="list-group-item list-group-item-dark">0 - No</li>
                                </ul>
                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Member Type</h5>
                            <p class="card-text">As an input to this user can select any number from 0 to 13 according to their membership Years.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Traveler Type</h5>
                            <p class="card-text">
                            <li class="list-group-item list-group-item-primary">0 - Friends</li>
                            <li class="list-group-item list-group-item-secondary">1 - Business</li>
                            <li class="list-group-item list-group-item-success">2 - Families</li>
                            <li class="list-group-item list-group-item-danger">3 - Solo</li>
                            <li class="list-group-item list-group-item-info">4 - Couples</li>
                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tennis Court</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light">1- Yes</li>
                                    <li class="list-group-item list-group-item-dark">0 - No</li>
                                </ul>
                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Free Internet</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light">1- Yes</li>
                                    <li class="list-group-item list-group-item-dark">0 - No</li>
                                </ul>
                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Review Month</h5>
                            <p class="card-text">User can select the month from Jan-Dec Numbering from 0 to 11</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pool</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light">1- Yes</li>
                                    <li class="list-group-item list-group-item-dark">0 - No</li>
                                </ul>
                            </p>

                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Spa</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-light">1- Yes</li>
                                    <li class="list-group-item list-group-item-dark">0 - No</li>
                                </ul>
                            </p>

                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Hotel Stars</h5>
                            <p class="card-text">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-primary">0 - 3 stars</li>
                                    <li class="list-group-item list-group-item-secondary">1 - 4 stars</li>
                                    <li class="list-group-item list-group-item-success">2 - 5 stars</li>
                                    <li class="list-group-item list-group-item-dark">3 - 4 & 5 stars</li>
                                    <li class="list-group-item list-group-item-light">4 - 3 & 5 stars</li>
                                    
                                </ul>
                                
                            </p>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Review weekday</h5>
                            <p class="card-text">
                                User can select the day if it is  0 - Thursday, 1 - Friday, 2 - Saturday, 3 - Tuesday, 4 - Wednesday, 5 - Sunday,  6 - Monday 
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-gray-400 bg-gray-900 body-font relative" id="predictor">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Predictor</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> In Predictor the score is predicted based on the user's input like Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free Internet,Hotel stars,Member Years,Review month,Review weekday
                </p>
            </div>
            <form class="form-horizontal" action="/predict/" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Period_of_stay">Period of Stay :</label>
                        <div class="col-sm-4"> 
                            <div class="form-group">
                                <select class="form-control" id="Period_of_stay" name="Period_of_stay">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <!-- input type="text" class="form-control" id="Period_of_stay" name="Period_of_stay" -->
                        </div>    
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Traveler_type">Traveler type :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Traveler_type" name="Traveler_type">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <!--input type="text" class="form-control" id="Traveler_type" name="Traveler_type"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"for="Pool">Pool :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Pool" name="Pool">
                                    <option>0</option>
                                    <option>1</option>
                                    
                                </select>
                            </div>
                            <!--input type="text" class="form-control" id="Pool" name="Pool"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 " for="Gym">Gym :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Gym" name="Gym">
                                    <option>0</option>
                                    <option>1</option>
                                    
                                </select>
                            </div>
                            <!--input type="text" class="form-control" id="Gym" name="Gym"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class = "control-label col-sm-2" for="Tennis_court">Tennis Court :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Tennis_court" name="Tennis_court">
                                    <option>0</option>
                                    <option>1</option>
                            
                                </select>
                            </div>
                            <!-- input type="text" class="form-control" id="Tennis_court" name="Tennis_court"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Spa">Spa :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Spa" name="Spa">
                                    <option>0</option>
                                    <option>1</option>
                            
                                </select>
                            </div>
                            
                            <!--input type="text" class="form-control" id="Spa" name="Spa"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class ="control-label col-sm-2" for="Casino">Casino :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Casino" name="Casino">
                                    <option>0</option>
                                    <option>1</option>
                            
                                </select>
                            </div>
                            <!--input type="text" class="form-control" id="Casino" name="Casino"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Free_internet">Free Internet :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Free_internet" name="Free_internet">
                                    <option>0</option>
                                    <option>1</option>
                            
                                </select>
                            </div>
                            <!--input type="text" class="form-control" id="Free_internet" name="Free_internet"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Hotel_stars">Hotel Stars :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Hotel_stars" name="Hotel_stars">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>

                                </select>
                            </div>
                            <!-- input type="text" class="form-control" id="Hotel_stars" name="Hotel_stars"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-sm-2" for="Member_years">Member Years :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Member_years" name="Member_years">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    
                            
                                </select>
                            </div>

                            <!-- input type="text" class="form-control" id="Member_years" name="Member_years"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Review_month">Review Month :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Review_month" name="Review_month">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    
                            
                                </select>
                            </div>
                            <!-- input type="text" class="form-control" id="Review_month" name="Review_month"-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Review_weekday">Review_weekday :</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="Review_weekday" name="Review_weekday">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                                                
                                </select>
                            </div>
                            <!-- input type="text" class="form-control" id="Review_weekday" name="Review_weekday"-->

                        </div>
                    </div>

    
                
    
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">&nbsp;</label>
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-primary">Predict</button>
                    </div>
                </div>
            </form>
            <div class="p-2 w-full pt-8 mt-8 border-t border-gray-800 text-center">
                <a class="text-indigo-400">abc@email.com</a>
                <br>
                <br>
                <span class="inline-flex">
                    <a class="text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path 
                            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-4 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-4 text-gray-500">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-4 text-gray-500">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                            </path>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>
</html>